.dark-mode {
    background-color: var(--dark-mode-color);
    color: #fff;
}

.dark-mode .logo {
    color:#fff;
}

.dark-mode .header-wrapper {
    background-color: #000;
}

.dark-mode .main {
    background-color: var(--dark-mode-color);
}

.dark-mode .post-single__text {
    color: #fff;
}

.dark-mode .post-single__header {
    color: #fff;
}

.dark-mode .post-single__sub_header {
    color: #fff;
}

.dark-mode .item__header {
    /* color: #fff; */
    color: #000;
    /* background-color: #000; */
}


.dark-mode .post-single__list li{
    color: #ff782a;
    font-weight: 700;
}

.dark-mode .post-single__text b {
    color: #ff782a;
}

.dark-mode .post-single__term {
    /* color: #ffce84; */
    color: #ff782a;
}

.dark-mode .post-single__title {
    color: #fff;
}

.dark-mode .post-single__summary-header,
.dark-mode .post-single__summary-text {
    color: #fff;
}

.dark-mode .post-single__term {
    font-weight: 400;
}

.dark-mode .post-next,
.dark-mode .post-previous {
    background-color: #ff995e;
}

.dark-mode .post-buttons__next, 
.dark-mode .post-buttons__previous {
    color:#000;
}