.dark-mode .formatted .post-single__title,
.dark-mode .formatted h2,
.dark-mode .formatted h1,
.dark-mode .formatted em,
.dark-mode .nav-links-label--previous p,
.dark-mode .nav-links-title--previous a,
.dark-mode .nav-links-label--next p,
.dark-mode .nav-links-title--next a,
.dark-mode .logo,
.dark-mode .formatted p,
.dark-mode .post-single__header,
.dark-mode .post-single__sub_header,
.dark-mode .item__header,
.dark-mode .about-icon,
.dark-mode .formatted .advice-header,
.dark-mode .formatted .major-header,
.dark-mode .formatted .question-header,
.dark-mode .formatted .example-header,
.dark-mode .formatted .summary-header,
.dark-mode .clone .post-single__title,
.dark-mode table th,
.dark-mode table td,
.dark-mode .formatted ul li,
.dark-mode .formatted ol li,
.dark-mode .formatted del {
    color: #ffffff;
}

.dark-mode .nav-links-label--previous p,
.dark-mode .nav-links-label--next p,
.dark-mode .nav-links-title--previous a:hover,
.dark-mode .nav-links-title--next a:hover {
    border-bottom: 1px solid #ff6600;
}

.dark-mode table th,
.dark-mode table td {
    border: 1px solid #ff6600;
}

.dark-mode .formatted h3 {
    font-weight: 500;
    color: #ff6600;
}

.dark-mode .formatted .post-single__summary-header {
    padding: 5px 10px;
    font-size: 14pt;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
}

.dark-mode .formatted strong {
    color: #ff6600;
}

.dark-mode {
    background-color: var(--dark-mode-color);
    color: #fff;
}

.dark-mode .header-wrapper {
    background-color: #000;
}

.dark-mode .main {
    background-color: var(--dark-mode-color);
}

.dark-mode .item__header {
    background-color: #666666;
}

.dark-mode .post-single__list li {
    color: #ff782a;
    font-weight: 700;
}

.dark-mode .post-single__text b {
    color: #ff782a;
}

.dark-mode .post-single__term a {
    color: #ff782a;
    font-weight: 400;
}
.dark-mode .post-single__term > p {
    color: #ff782a;
}

.dark-mode .post-single__term b {
    color: #ff782a;
}

.dark-mode .formatted .post-single__term {
    color: #ff782a;
    font-weight: 400;
}

.dark-mode .post-next,
.dark-mode .post-previous {
    background-color: #ff995e;
}

.dark-mode .post-buttons__next,
.dark-mode .post-buttons__previous {
    color: #000;
}

