@media screen and (min-width: 300px) and (max-width: 768px) {
    /* .logo {
        font-size: 14pt;
    } */
}

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.mode-toggle {
    padding: 20px 15px;
    margin: 0 15px;
    border: none;
}

.dark {
    background: url(../images/moon-phase-black-crescent-shape_icon-icons.com_72982.svg) center no-repeat;
}

.light {
    background: url(../images/iconfinder-idea-4341295_120562.svg) center no-repeat;
}

.dark-mode .logo {
    color:#fff;
}

.dark-mode .header {
    background-color: #000;
}

.logo {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 20pt;
    font-weight: 500;
}