@media screen and (min-width: 300px) and (max-width: 768px) {
    /* .logo {
        font-size: 14pt;
    } */
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
}

.header-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-self: center;
    height: 60px;
}

.mode-toggle {
    padding: 20px;
    margin: 0 15px;
    border: none;
}

.dark {
    background: url(../images/moon-phase-black-crescent-shape_icon-icons.com_72982.svg) center no-repeat;
}

.light {
    /* background: url(../images/iconfinder-idea-4341295_120562.svg) center no-repeat; */
    background: url(../images/icons8-солнце-50.svg) center no-repeat;
}

.logo {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 20pt;
    font-weight: 500;
}