@media screen and (min-width: 300px) and (max-width: 768px) {
    /* .logo {
        font-size: 14pt;
    } */
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 2;
}

.header-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.guide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 100%;
    cursor: pointer;
}

.popup {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(84, 84, 84, 0.5);
}

.popup .popup-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    max-height: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
}

.popup-hidden {
    display: none;
}

.popup-close-btn {
    padding: 10px;
    border-radius: 10px;
    align-self: flex-end;
}

.popup-close-btn:hover {
    background-color: #535353;
}

.menu-button {
    width: 55px;
    height: 100%;
    border: none;
    cursor: pointer;
    background: transparent;
}

.mode-toggle:active {
    background-color: var(--navigation-color);
}

.fa-dark {
    color: #ffffff;
}

.dark {
    color: #ffffff;
}

.light {
    color: #000000;
}

.logo {
    font-weight: 500;
}

.logo-image {
    width: auto;
    height: 40px;
    margin-left: 10px;
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hovered {
    background-color: var(--navigation-color);
}

.clone .post-single__title {
    font-weight: 700;
    padding: 0 5px;    
}

@media screen and (max-width: 350px) {
    /* .logo {
        display: none;
    } */
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .menu-button.small,
    .about-icon.small {
        font-size: 1.5em;
    }

    .logo {
        font-size: 16px;
        font-weight: 600;
    }

    .clone .post-single__title {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    .clone .post-single__title {
        font-size: 16px;
    }
}
/* 
@media(hover:hover) {
    button:hover {
        background-color: aqua;
    }
} */
