.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    /* flex-direction: column; */
    margin-top: 60px;
}

.item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 15em;
    min-height: 10em;
    max-height: 25em;
    background: var(--entry);
    border-radius: var(--radius);
}

.item__link {
    flex: 1 0 50%;
    min-width: 15em;
    max-width: 30em;
    margin: 10px;
    z-index: 1;
}

.item__link:active {
    transform: scale(0.96);
    transition: transform .1s;
}

.item__image {
    border-radius: var(--radius) var(--radius) 0 0;
    width: 100%;
}

.item__header {
    font-size: 18px;
    font-weight: 500;
    padding: 10px 5px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .item__header {
        font-size: 18px;
    }
}