:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --entry: rgb(255, 255, 255);
    --radius: 10px;
    --border: rgb(238, 238, 238);
    --dark-mode-color: #333333;
    --navigation-color: #ff782a;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 14pt;
    font-weight: 400;
    color: #000;
    line-height: 1.7;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
}

body {
    background-color: #cccccc;
}

p {
    margin: 10px 0;
}

b {
    font-weight: 700;
}

.main {
    /* min-height: calc(100vh - var(--header-height) - var(--footer-height)); */
    min-height: 100vh;
    max-width: var(--main-width) + var(--gap);
    margin: auto;
    background-color: rgba(240, 240, 240, 0.875);
}

li {
    cursor: default;
}

.modal-open {
    height: 100vh;
    overflow: hidden;
}
