.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-single {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: var(--gap);
    max-width: 45em;
    padding: var(--gap);
    border-radius: var(--radius);
    border: 1px solid var(--border);
}

.post-single__image {
    border-radius: 10px;
    min-width: 20em;
}

.post__title {
    font-size: 18pt;
    margin: 10px 0;
    font-weight: 500;
}

.post-single__text {
    font-size: 14pt; 
    font-weight: 400;
    margin: 0 auto;
    color: #000;
    line-height: 1.5;
}

.post-buttons {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 100%;
    min-width: 20em;
    max-width: 40em;
    padding: 0;
}

.post-previous,
.post-next {
    padding: 10px;
}