.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-single {
    display: flex;
    flex-direction: column;
    max-width: 45em;
    margin-top: 60px;
}

.post-single__image {
    padding: 15px;
    border-radius: 20px;
    /* min-width: 20em; */
    width: 100%;
    height: 100%;
}

.post-single__title {
    font-size: 28pt;
    margin: 10px 0;
    padding: 0 15px;
    font-weight: 800;
}

.post-single__header {
    font-size: 22px;
    font-weight: 700;
    padding: 10px 15px;
}

.post-single__sub_header {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding: 0 15px;
}

.post-single__text {
    font-size: 24px; 
    font-weight: 400;
    margin: 10px 0;
    color: #000;
    line-height: 1.5;
    padding: 0 15px;
}

.post-single__summary {
    margin: 0 10px;
    border: 1px solid rgba(255, 120, 42, 1);
    border-radius: 5px;
}

.post-single__summary-header {
    padding: 5px 10px;
    background-color: rgba(255, 120, 42, 0.3);
    font-size: 22px;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-single__summary-text {
    padding-left: 10px;
    font-size: 14pt; 
    font-weight: 400;
    color: #000;
    line-height: 1.5;
}

.post-single__term {
    display: flex;
    align-items: center;
    gap: 10px;
    font-style: italic;
    font-weight: 600;
    padding: 0 15px;
}

.term_image {
    width:70px;
}

.post-single__list {
    padding: 0 15px;
    margin: 0 5px;
}

.post-single__list > li {
    margin-left: 15px;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .term_image {
        display: none;
    }
    
    .post-single__image {
        padding: 15px;
    }

    .post-single__text {
        font-size: 16px;
    }

    .post-single__summary-text {
        font-size: 16px;
    }

    .post-single__header {
        font-size: 22px;
    }

    .post-single__sub_header {
        font-size: 22px;
    }

    .post-single__list > li {
        font-size: 16px;
    }

    .post-single__title {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .post-single__title {
        font-size: 20pt;
    }

    .post-single__text {
        font-size: 16px;
    }

    .post-single__list > li {
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .post-single__header {
        font-size: 28px;
    }

    .post-single__sub_header {
        font-size: 24px;
    }

    .post-single__text {
        font-size: 18px;
    }

    .post-single__list > li {
        font-size: 18px;
    }
}