.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    /* flex-direction: column; */
    margin: auto;
}

.item__content {
    position: relative;
    min-width: 10em;
    min-height: 20em;
    max-height: 30em;
    /* margin-bottom: calc(var(--gap)/2); */
    /* margin-top: calc(var(--gap)/2); */
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
}

.item__link {
    flex: 1 0 50%;
    min-width: 20em;
    max-width: 30em;
    min-height: 20em;
    margin: 10px;
}

.item__link:active {
    transform: scale(0.96);
    transition: transform .1s;
}

.item__image {
    border-radius: var(--radius);
}

.item__header {
    margin:0;
    padding: 5px 0;
}

p {
    padding: var(--gap);
}