{{ define "main"}}
    <link rel="stylesheet" href="/css/list.css">
    <div class="wrapper">
      {{ range .Pages }}
      <a href="{{ .Permalink }}" class = "item__link">
        <article class = "item__content">
          {{ if or (.Pages) (.RegularPages)}}
                {{ .Content }}
            <h1>{{ .Title }}</h1>
          {{ else }}
            <img src="{{ .Params.cascade.banner }}" alt="image" class = "item__image">
            <h3 class = "item__header">{{ .Title }}</h3>
          {{ end }}
        </article>    
      </a>       
    {{ end }}
    </div>
{{ end }}