{{ define "main" }}
    <article class = "post-single">
        <img src="{{ .Params.src }}" alt="post_image" class = "post-single__image">
        <h3 class="post__title">{{ .Title }}</h3>
        {{ .Content }}
    </article>
    <div class="post-buttons">
        {{ with .NextInSection }}
            <a class = "post-previous" href="{{ .Permalink }}">{{.Title}}</a>
        {{ end }}
        {{ with .PrevInSection }}
            <a class = "post-next" href="{{ .Permalink }}">{{.Title}}</a>
        {{ end }}
    </div>
{{ end }}