<div class="popup popup-hidden">
  <div class="popup-content">
    <button class="popup-close-btn">
      <i class="fa fa-times fa-lg"></i>
    </button>
    <h2 class="popup-title">Зачем вам это читать</h2>
    <p class="popup-text">
      В школе на уроках русского языка нас учат запоминать правила орфографии.
      Разбирать слова по составу. Определять разряд наречий и местоимений. Вне
      школы мы ничем из этого не занимаемся.
    </p>

    <p class="popup-text">
      Книга, которую вы держите в руках, предлагает изучать язык с точки зрения
      его связи с нашей жизнью. Зачем он нужен? — например, чтобы получать
      информацию. Можно ли понять, что информация «с душком», что нас
      обманывают? — можно, и в одной из глав написано, как.
    </p>

    <p class="popup-text">
      Строго говоря, глав в книге нет, есть модули. Модульное устройство
      означает, что с темами можно знакомиться в любом порядке, в зависимости от
      ваших задач.
    </p>

    <p class="popup-text">
      Пять модулей соответствует пяти сферам жизни, небольшое предисловие
      рассказывает об устройстве собственно языка. На школьных уроках может
      показаться, что язык — громадная свалка правил. Нет. Реальный русский —
      это совсем другое.
    </p>
  </div>
</div>
